packages
bin
obj

*.suo
*.pidb
*.userprefs
*.user
*.testsettings
*.vsmdi
*ncrunch*

TestResults*
Kyzog.Sandbox*
Kyzog.BuildScripts*
Kyzog.InterviewQuestions*
Kyzog.Personal.sln
nModule.UnitTests.*.Results.xml
TestResults.xml
_Resharper*
